<?xml version="1.0" encoding="UTF-8"?>
   
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="passwordEncoder"
          class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
        
   <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost/coksabu?characterEncoding=utf8&amp;allowMultiQueries=true" />
		<property name="user" value="dywlr" />
		<property name="password" value="1111" />
		<property name="idleConnectionTestPeriod" value="60" />
    	<property name="preferredTestQuery" value="SELECT 1" />
    	<property name="testConnectionOnCheckin" value="true" />
    	<property name="testConnectionOnCheckout" value="false" />
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations">
			<list>
				<value>classpath:/mybatis/memberDao.xml</value>
				<value>classpath:/mybatis/boardDao.xml</value>
				<value>classpath:/mybatis/applyDao.xml</value>
				<value>classpath:/mybatis/adminDao.xml</value>
				<value>classpath:/mybatis/dealDao.xml</value>
				<value>classpath:/mybatis/cronDao.xml</value>
				<value>classpath:/mybatis/chatDao.xml</value>
				<value>classpath:/mybatis/contentsDao.xml</value>
			</list>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
		<property name="dataSource" ref="dataSource" />
	</bean>


	<bean id="chatDao" class="org.mybatis.spring.mapper.MapperFactoryBean" >
		<property name="mapperInterface" value="com.coksabu.yojic.lesson.chat.dao.ChatDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>


	<bean id="memberDao" class="org.mybatis.spring.mapper.MapperFactoryBean" >
		<property name="mapperInterface" value="com.coksabu.yojic.lesson.member.dao.MemberDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>

	<bean id="boardDao" class="org.mybatis.spring.mapper.MapperFactoryBean" >
		<property name="mapperInterface" value="com.coksabu.yojic.lesson.board.dao.BoardDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="adminDao" class="org.mybatis.spring.mapper.MapperFactoryBean" >
		<property name="mapperInterface" value="com.coksabu.yojic.lesson.admin.dao.AdminDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="applyDao" class="org.mybatis.spring.mapper.MapperFactoryBean" >
		<property name="mapperInterface" value="com.coksabu.yojic.lesson.apply.dao.ApplyDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="dealDao" class="org.mybatis.spring.mapper.MapperFactoryBean" >
		<property name="mapperInterface" value="com.coksabu.yojic.lesson.deal.dao.DealDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="cronDao" class="org.mybatis.spring.mapper.MapperFactoryBean" >
		<property name="mapperInterface" value="com.coksabu.yojic.lesson.cron.dao.CronDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="contentsDao" class="org.mybatis.spring.mapper.MapperFactoryBean" >
		<property name="mapperInterface" value="com.coksabu.yojic.lesson.contents.dao.ContentsDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<context:component-scan base-package="com.coksabu.yojic.lesson" />	
	
	<bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" 
			p:usePool="true"  p:hostName="localhost" p:port="6379" p:password="abcd1234"/>
	
	<bean id="redisMessageListener" class="org.springframework.data.redis.listener.RedisMessageListenerContainer" p:connectionFactory-ref="jedisConnectionFactory" />
 
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate" p:connectionFactory-ref="jedisConnectionFactory" 
	p:keySerializer-ref="stringRedisSerializer" p:valueSerializer-ref="jackson2JsonRedisSerializer" />
	
	<bean id="stringRedisSerializer" class="org.springframework.data.redis.serializer.StringRedisSerializer" />
	
	<bean id="jackson2JsonRedisSerializer" class="org.springframework.data.redis.serializer.Jackson2JsonRedisSerializer">
		<constructor-arg type="java.lang.Class" value="java.lang.String"/>
	</bean>

</beans>