/* 메인 , 수업목록, 장바구니, 수정하기(tutorpage),  메시지 프로필(tutorprofile) */
#pst:hover {
	box-shadow: 0px 0px 4px 4px LightGoldenRodYellow;
}

#categories {
	font-family: 'JejuGothic';
	font-weight: bold;
	font-size: 16px;
	color: Grey;
	padding: 5px;
}

#name {
	font-family: 'JejuGothic';
	font-weight: bold;
	font-size: 14px;
	padding: 5px;
	color: black;
}

#universe {
	font-family: 'JejuGothic';
	font-weight: bold;
	color: DimGrey;
	font-size: 14px;
	padding: 5px;
}

#title {
	font-family: 'JejuGothic';
	font-weight: 900;
	color: black;
	font-size: 18px;
	margin-top: 7px;
	padding: 5px;
}

#price {
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
	padding: 5px;
	margin-top: 5px;
	color: black;
}

.tutorpage-update, .tutor-delete-css, .mywish-delete {
	border-radius: 10px;
	border: 2px solid #EF904F;
	color: #EF904F;
	text-decoration: none;
	padding: 5px;
	cursor: pointer;
	font-family: 'JejuGothic';
}

.hide {
	display: none;
}

.price-detail {
	font-family: 'JejuGothic';
	margin-bottom: 10px;
	border-top: 1px solid lightgray;
}

.price-detail-table {
	padding: 5px;
	border-right: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	border-spacing: 15px 10px;
	width: 65%;
	margin: 0 auto;
}

.price-detail-table td {
	font-size: 15px;
}

.price-detail-btn {
	padding: 5px;
	font-size: 15px;
	border-right: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	font-family: 'JejuGothic';
	cursor: pointer;
}